body {
    font-size: 15pt;
    background: linear-gradient(90deg, #000428, #004e92);
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#HomePage{
  display: block;
  
}
#WorkoutPage{
  display: none;
  
}
h3{
  text-align: center;
}
h1{
  text-align: center;
  
}
#Title,#Selectlevel{
  color: white;
  text-shadow: 4px 4px 6px #000;
}
#Title{
  position: relative;
  top: -290px;
}

label#commingsoon{
  position: relative;
  top: 215px;
  left: 144px;
  font-size: 15px;
  color: white;
  text-shadow: 4px 4px 6px #000;
  position: relative;
  top: 150px;
}
label{
  color: white;
  text-shadow: 4px 4px 6px #000;
}
#backToHome{
  position: relative;
  right: 180px;
}
#backToHomeBtn{
position: fixed;
top: 1px;
}
#backToHomeTrackBtn{
  position: fixed;
  top: 1px;
  right: 360px;
}


#Workout-btn, #Track-btn, #Tipsbtn, #Goalbtn, #beforeAfterButton,#dietBtn,#ProgressTrackingBtn,#WorkoutProgressionBtn, #Challengebtn{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -140px;
  left: 135px;
  width: 120px;
  height: 40px;
  background: linear-gradient(90deg, #00ff87, #1cb5e0);
  border: none;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 255, 135, 0.4);
}
#ProgressTrackingBtn, #WorkoutProgressionBtn{
  position: relative;
  top: 200px;
  left: 270px;
  justify-content: space-between;
}
#WorkoutProgressionBtn{
 position: relative;
 top: 145px;
 right: 500px;
}
#ProgressTrackingBtn{
  position: relative;
  left: 3px;
  top: 184px;
  
}
#Track-btn {
  color: black;
  position: relative;
  left: 3px;

}
#trackingControls, #trackingInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#startTrackingBtn, #stopTrackingBtn{
  background: linear-gradient(90deg, #00ff87, #1cb5e0);
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#stopTrackingBtn {
  background: linear-gradient(90deg, #240b36, #c31432);
  color: white;
}
#trackingInfo h3, #trackingInfo h4 {
  margin: 10px 0;
  font-family: Arial, sans-serif;
}
#Goalbtn{
  position: relative;
  top: -80px;
  left: 137px;
}
#beforeAfterButton{
  display: block;
  margin: auto;
  text-align: center;
  position: relative;
  top: 500px;
  left: 127px;
}
#Challengebtn{
display: block;
margin: auto;
text-align: center;
position: relative;
top: 340px;
left: -7px;
background: linear-gradient(90deg, #240b36, #c31432);
color: white;
text-shadow: 2px 2px 4px #000;
}

#dietBtn{
   position: relative;
   top: 345px;
   left: 137px;
 }

#BeforeAfterPage{
  display: none;
}

#Tipsbtn{
  position: relative;
  top: -160px;
  left: 137px;
  background: linear-gradient(90deg, #00ff87, #1cb5e0);
}
#Workout-btn{
  position: relative;
  left: 137px;
}

#BegginerBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 150px;
  left: 120px;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  background: linear-gradient(90deg, #00d2ff, #3a7bd5);
  border: none;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 210, 255, 0.4);
  margin: 20px;
}
#IntermediateBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 150px;
  left: 120px;
  width: 120px;
  height: 40px;
  background: linear-gradient(90deg, #6a3093, #a044ff);
  border: none;
  border-radius: 30px;
  color: white;
  box-shadow: 0 4px 6px rgba(160, 68, 255, 0.4);
  margin: 20px;
}
#ExpertBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 150px;
  left: 120px;
  width: 120px;
  height: 40px;
  background: linear-gradient(90deg, #ff416c, #ff4b2b);
  border: none;
  border-radius: 30px;
  color: white;
  box-shadow: 0 4px 6px rgba(255, 65, 108, 0.4);
  margin: 20px;
}
#Backbtn,#Backgoal,#backToHome,#backToHomeBtn,#backToHomeTrackBtn,#BackWorkoutProgression,#BackProgressTracking,#Backbtn7{
  border: 2px solid black;
  background: linear-gradient(90deg, #2c3e50, #4ca1af);
  border-radius: 5px;
  position: fixed;
top: 5px;
left: 1px;
}
#BegginerPage{
  display: none;
  height: 1100vh;
  max-width: 100%;
  background: linear-gradient(120deg, #3a1c71, #d76d77, #ffaf7b);
  position: relative;
  top: -100px;
}
#Backbtn2,#Backtips{
  border: 2px solid black;
  background: linear-gradient(90deg, #2c3e50, #4ca1af);
  border-radius: 5px;
  position: fixed;
top: 5px;
left: 1px;
}
#Backbtn7{
  position: fixed;
  top: 5px;
  left: 1px;
}

#IntermediatePage{
  display: none;
  height: 1380vh;
  max-width: 100%;
  background: linear-gradient(90deg, #2c3e50, #4ca1af);
  position: relative;
top: -100px;
}
#Backbtn3,#Back5,#Back6{
  border: 2px solid black;
  background: linear-gradient(90deg, #2c3e50, #4ca1af);
  border-radius: 5px;
  position: fixed;
top: 5px;
left: 1px;
}
#ExpertPage{
  display: none;
  height: 1660vh;
  max-width: 100%;
  background: linear-gradient(90deg, #240b36, #c31432);
  position: relative;
top: -100px;
}
#Backbtn4{
  border: 2px solid black;
  background: linear-gradient(90deg, #2c3e50, #4ca1af);
  border-radius: 5px;
  position: fixed;
top: 5px;
left: 1px;
}
#Tipspage,#Tip,#Backtips{
  display: none;
}
#Tipspage{
  height: 100vh;
  width: 51vh;
  text-shadow: 2px 2px 4px #000;
}
#Goalpage{
  display: none;
}
#Basic{
  display: none;
  height: 100vh;
  width: 52vh;
}
#About{
  display: none;
}

ul#tipstricks,#warmup,#fuelbody,#consistent,#sleep{
  color: white;
}
h3#tipstricks{
  color: white;
}


#Pushup{
  position: relative;
  left: 45px;
  border: 2px solid black;
  box-shadow: 4px 4px 6px;
}
#Plank{
  border: 2px solid;
  position: relative;
  left: 45px;
  box-shadow: 4px 4px 6px;
}
#BwSquats{
  position: relative;
  left: 45px;
  border: 2px solid black;
  box-shadow: 4px 4px 6px;
}
#Glutebridges{
  position: relative;
  left: 45px;
  border: 2px solid black;
  box-shadow: 4px 4px 6px;
}
#legraises{
  position: relative;
  left: 45px;
  border: 2px solid black;
  box-shadow: 4px 4px 6px;
}
#finish{
  color: red;
  text-shadow: 2px 2px 4px;
}
#sideplank{
  background: white;
  position: relative;
  left: 45px;
  border: 2px solid black;
  box-shadow: 4px 4px 6px;
}
#lunges{
  position: relative;
  left: 45px;
  border: 2px solid black;
  box-shadow: 4px 4px 6px;
}
#calfraises{
  position: relative;
  left: 45px;
  border: 2px solid black;
  background: white;
  box-shadow: 4px 4px 6px;
}
#mountainclimbers{
  position: relative;
  left: 45px;
  border: 2px solid black;
  background: white;
  box-shadow: 4px 4px 6px;
}
#supermanhold{
  position: relative;
  left: 45px;
  border: 2px solid black;
  background: white;
  box-shadow: 4px 4px 6px;
}
#burpees{
  position: relative;
  left: 45px;
  border: 2px solid black;
  background: white;
  box-shadow: 4px 4px 6px;
}
#skaterhop{
  position: relative;
  left: 45px;
  border: 2px solid black;
  background: white;
  box-shadow: 4px 4px 6px;
}
#jumpsquats{
  position: relative;
  left: 45px;
  border: 2px solid black;
  background: white;
  box-shadow: 4px 4px 6px;
}
#forwardbend{
  position: relative;
  left: 10px;
  border: 2px solid black;
  background: white;
  box-shadow: 4px 4px 6px;
}
#catcowpose{
  position: relative;
  left: 10px;
  border: 2px solid black;
  background: white;
  box-shadow: 4px 4px 6px;
}
#childpose{
  position: relative;
  left: 10px;
  border: 2px solid black;
  background: white;
  box-shadow: 4px 4px 6px;
}
#pikepushups{
  position: relative;
  left: 45px;
  border: 2px solid black;
  box-shadow: 4px 4px 6px;
}
#bulgariansplitsquat{
  position: relative;
  left: 45px;
  border: 2px solid black;
  box-shadow: 4px 4px 6px;
}
#bicyclecrunche{
  position: relative;
  left: 45px;
  border: 2px solid black;
  box-shadow: 4px 4px 6px;
}
#diamondpushups{
  position: relative;
  left: 45px;
  border: 2px solid black;
  box-shadow: 4px 4px 6px;
}
#dips{
  position: relative;
  left: 45px;
  border: 2px solid black;
  box-shadow: 4px 4px 6px;
}
#hollowbodyhold{
  position: relative;
  left: 45px;
  border: 2px solid black;
  box-shadow: 4px 4px 6px;
}
#sidehipdips{
  position: relative;
  left: 45px;
  border: 2px solid black;
  box-shadow: 4px 4px 6px;
}
#russiantwists{
  position: relative;
  left: 45px;
  border: 2px solid black;
  box-shadow: 4px 4px 6px;
}
#archerpushups{
  position: relative;
  left: 45px;
  border: 2px solid black;
  box-shadow: 4px 4px 6px;
}
#handstand{
  position: relative;
  left: 45px;
  border: 2px solid black;
  box-shadow: 4px 4px 6px;
}


.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightblue;
  padding: 8px 13px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Task text */
.task-text {
  flex: 1;
  font-size: 14pt;
  margin-right: 10px;
  color: black;
  margin-top: 10px;
  word-wrap: break-word; /* Ensure long tasks wrap properly */
}

/* Completed tasks (strikethrough effect) */
.task-text.completed {
  text-decoration: line-through;
  color: gray;
}

/* Buttons */
.done-btn, .delete-btn {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.done-btn {
  background-color: lightgreen;
}

.done-btn:hover {
  background-color: green;
  color: white;
}

.delete-btn {
  background-color: tomato;
}

.delete-btn:hover {
  background-color: red;
  color: white;
}
#TextList {
  font-size: 45px;
  color: grey;
  text-shadow: 2px 2px 4px #000;
  position: relative;
  bottom: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column; /* Arrange tasks from top to bottom */
  gap: 10px; /* Space between tasks */
  padding: 10px;
  max-height: 300px; /* Set a max height for scrollability */
  overflow-y: auto; 
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
#TaskList{
  align-items: center;
  justify-content: center;
  position: relative;
  left: 90px;
  border: 2px solid black;
  background: white;
  color: black;
  border-radius: 30px;
  height: 30px;
}
#AddTask{
  position: relative;
  left: 80px;
  border: 2px solid black;
  background: yellow;
  height: 35px;
  border-radius: 10px;
}
.hamburger {
  display: none; /* Hidden on large screens */
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  
}

.hamburger div {
  background-color: white;
  width: 25px;
  height: 3px;
  margin: 4px 0;
  transition: all 0.3s ease;
  position: relative;
top: -80px;
}

/* Toggle Active Menu for Small Screens */
@media (max-width: 768px) {
  nav ul {
    display: none; /* Hide nav links by default */
    flex-direction: column;
    text-align: center;
    background-color: white;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }

  nav ul.active {
    display: flex; /* Show nav links when active */
    background: white;
    height: 100vh;
    width: 13vh;
    padding: 10px 20px;
  }

  .hamburger {
    display: flex; /* Show hamburger menu */
    position: relative;
    top: -120px;
  }
  nav a{
    text-decoration: none;
    color: burlywood;
  }
}
form{
  color: white;
  text-shadow: 2px 2px 2px #000;
}
#Basic{
  height: 200vh;
}
.image-container {
      width: 150px;
      height: 150px;
      border: 2px dashed #ccc;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px auto;
      background-size: cover;
      background-position: center;
   }
   .image-container span {
      font-size: 24px;
      color: #ccc;
   }
   .delete-btn {
      margin-top: 10px;
      background-color: #e74c3c;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
   }
   .delete-btn:hover {
      background-color: #c0392b;
   }
   input{
     background: linear-gradient(90deg, #240b36, #c31432);
     color: white;
   }
   #confirmBtn{
     background: linear-gradient(90deg, #240b36, #c31432);
     color: white;
     font-weight: bold;
     border: none;
     border-radius: 5px;
   }
   #saveBtn{
     background: linear-gradient(90deg, #00ff87, #1cb5e0);
    border: none;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 255, 135, 0.4);
   }
   #dietplan, p{
     color: white;
     text-shadow: 2px 2px 4px #000;
   }
   #fitness{
     position: fixed;
     top: 100px;
     left: 150px;
     border: 2px solid white;
     border-radius: 20px;
   }
   #Track-btn{
     position: relative;
     top: 57px;
   }
   #backToHome2,#BackAchievements{
     position: fixed;
     left: -1px;
     top: 1px;
     border: 2px solid black;
     background: linear-gradient(90deg, #2c3e50, #4ca1af);
     border-radius: 5px;
   }
   select{
     background: linear-gradient(90deg, #240b36, #c31432);
     color: white;
     height: 20px;
     width: 80px;
   }
   #startTrackingBtn,#stopTrackingBtn{
     position: fixed;
     left: 160px;
   }
   #activityDetails,#distanceCovered{
     text-align: center;
     position: relative;
     top: 100px;
     color: white;
     text-shadow: 2px 2px 4px #000;
   }
   #clearDistanceBtn{
     position: relative;
     top: 350px;
     left: -100px;
     background: linear-gradient(90deg, #240b36, #c31432);
     color: white;
     font-weight: bold;
     border: none;
     border-radius: 5px;
     height: 25px;
   }
   #ProgressTrackingPage, #WorkoutProgressionPage {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  position: relative;
  top: -50px;
}

#ProgressForm input {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
}

#ProgressList {
  list-style-type: none;
  padding: 0;
}

#ProgressList li{
  margin: 5px 0;
  padding: 8px;
  background: #e3e3e3;
  border-radius: 5px;
}
#LogProgress{
  background: linear-gradient(90deg, #240b36, #c31432);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  height: 25px;
  position: relative;
  left: 120px;
}
#Challengepage{
  display: none;
}
#challenges{
  position: relative;
  left: -20px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-shadow: none;
}
#Accept{
  background: linear-gradient(90deg, #00ff87, #1cb5e0);
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  top: 10px;
  right: -5px;
  height: 25px;
}
#Challengepage {
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 20px;
}

#completeChallenge{
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease;
}

#completeChallenge:hover {
  background-color: #4CAF50;
  color: white;
}

#timerContainer {
  margin-top: 20px;
}

#timeLeft {
  font-size: 24px;
  color: #ff5722;
}

#completeChallenge {
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  padding: 12px 25px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
}

#completeChallenge:disabled {
  background-color: #9e9e9e;
  cursor: not-allowed;
}
#challengeImage{
  box-shadow: 4px 4px 6px;
}
#clearProgressBtn{
  background: linear-gradient(90deg, #240b36, #c31432);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#saveProgressBtn{
  background: linear-gradient(90deg, #00ff87, #1cb5e0);
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#trackingPage{
  border: 2px solid white;
  border-radius: 20px;
  height: 70vh;
  background: #002a5a;
}
#Achievements{
  position: relative;
  top: -85px;
  left: -5px;
} 
nav h3 a{
  color: #ffffff;
  background: linear-gradient(90deg, #240b36, #c31432);
  font-weight: bold;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  padding: 0px 10px;
  text-shadow: 2px 2px 4px #000;
  box-shadow: 4px 4px 6px #000;
}
#AchievementsPage{
  display: none;
  min-height: 100vh;
}
#achH1{
  text-align: center;
}
#Noachievements{
  text-align: center;
}

#achievements-list {
  display: flex;
  flex-direction: column;
}

.achievement {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.achievement.claimed {
  background-color: #c3e6cb;
}

.claim-btn {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.claim-btn:disabled {
  background-color: #ccc;
}
#backToHome{
  width: 50px;
}
